@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Playwrite+DE+SAS:wght@100..400&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --primary: #8c52ff;
  --secondary: #6238b6;
  --white: #fff;
  --black1: #4d4d4d;
  --black2: #000;
  --grey1: #dad8d8;
  --grey2: #828282;
} 


/* fonts are "Exo 2", sans-serif; "Quicksand", sans-serif; "Playwrite DE SAS", cursive; Roboto", sans-serif;*/

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem !important;
  font-weight: 400;
}

.card-body .btn-primary {
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

.card-body .btn-primary:hover, .btn-primary:active {
  background-color: var(--secondary) !important;
  border: 1px solid var(--secondary) !important;
}

.header {
  width: 80%;
  margin: 0 auto;
}

.header-shadow {
  width: 100%;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  width: 12rem;
}

.nav-link {
  color: var(--black1) !important;
  transition: color 0.3s ease;
  font-size: 1.2rem !important;
}

.nav-link:hover {
  color: var(--black2) !important;
}

.hamburger {
  display: none;
}

.banner {
  position: relative;
  width: 100%;
  height: 250px; /* ou o tamanho que você quiser */
  overflow: hidden;
}

.banner img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* escurecer a imagem */
  filter: brightness(30%);
  z-index: 1;
}

.banner .banner-content {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
}

.banner h1 {
  margin: 0;
  font-size: 2.5em;
}

.banner p {
  margin: 10px 0 0;
  font-size: 1.2em;
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-top: 3rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.card-img-wrapper {
  width: 100%;
  height: 200px; /* Altura fixa */
  overflow: hidden;
  border-top-left-radius: 0.25rem; /* combina com o .card padrão */
  border-top-right-radius: 0.25rem;
}

.card-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;  /* Faz o recorte proporcional */
  object-position: center;
  display: block;
}

.card-body {
  display: flex;
  flex-direction: column;
  height: 100%; /* necessário para ocupar toda a altura do card */
}

.card-body hr {
  margin: 0.5rem 0 !important;
}

.card-title {
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.card-text {
  font-family: "Exo 2", sans-serif;
  text-align: justify;
  font-weight: 200;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;  /* número de linhas desejadas */     
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
}

main {
  width: 60%;
  margin: 0 auto;
}

#post-detail {
  width: 35%;
  margin: 0 auto;
}

.title-detail {
  margin-top: 3rem;
  text-align: center;
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 2rem !important;
}

.p-details, .resumo-details {
  text-align: justify;
  font-family: "Exo 2", sans-serif;
  font-weight: 300;
  font-size: 1.1rem !important;
  line-height: 1.8 !important;
}

.subtitle-details, .resumo-title {
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  font-size: 1.4rem !important;
  margin-top: 4rem !important;
  margin-bottom: 2rem !important;
}

.div-img-details {
  width: 100%;
  height: 300px;
  overflow: hidden;
  text-align: center;
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.div-img-details img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.more-posts {
  width: 90%;
  margin: 2rem auto;
}

.more-posts a {
  text-decoration: none;
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  font-size: 1.2rem !important;
  color: var(--black1);
}

.more-posts a:hover {
  color: var(--black2);
}

.footer {
  background-color: var(--black1);
}

@media (max-width: 991.98px) {
  .hamburger {
    display: block;
    font-size: 2.5rem;
  }

  .navigation .nav {
    display: none;
  }

  .card {
    width: 20rem !important;
  }
}
